body {
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 1400px;
  color: #fff;
  margin: auto;
  font-family: 'Inter';
}

.logo-svg {
  width: 2em;
  transition: all .2s ease-in-out;
}

.logo-svg:hover { 
  transform: scale(1.1); 
}

.logo-path {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 12px;
}

.navbar-nav .nav-link {
  color: #fff;
  position: relative;
  padding: 8px 6px;
  margin-top: 4px;
}

/* active page */
.navbar-nav .nav-link.active {
  background-color: #fff;
  color: #7FA179;
  border-radius: 4px;
}

/* underline hover transition */
.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.nav-link:hover::after {
  padding-bottom: 3px;
  margin-bottom: 4px;
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer {
  color: black;
  background-color: #88A284;
}


.card {
  padding: 30px 30px 0px 30px;
  max-width: 300px;
  min-width: 8rem;
  box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.19);
  margin: 0;
}

.card1 {
  transform:rotate(-12deg);
  margin-right: 0px;
}

.card2 {
  transform:rotate(6deg);
}

.project-card {
  max-width: 250px;
}

.card-tag {
  background-color:#7FA179;
  padding: 2px 4px;
  margin-right: 2px;
  border-radius: 2px;
  font-size: 12px;
}

.card-body {
  padding: 20px 0px;
}

.card-link {
  color:#7FA179;
}
.row {
  height: 100vh;
}

.nav {
  font-size: 1.5em;
}

.card-title {
  color: #7FA179;
}

.highlight-text {
  color: #7FA179;
  background-color: #fff;
}

.bio-link {
  color: #fff;
  padding: 3px;
  text-decoration: underline;
  /* background-color: #fff; */
}

.bio-link:hover {
  background-color: #fff;
  color: #88A284;
  text-decoration: none;
  border-radius: 2px;
}

mark {
  color: #7FA179;
  -webkit-animation: 1s highlight 1s 1 normal forwards;
          animation: 1s highlight 1s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #fff 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transform: rotate(2deg);
  border-radius: 4px;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

.tagline {
  font-size: 1.1rem;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #7FA179;
  }
}