:root {
  --memo-map-color: #E5E8FF;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

a {
  color: #000000;
}

a:hover {
  color: #4C7B4B;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #4C7B4B;
}

.green {
  color: #4C7B4B;
}

.card {
  border: none;
}

.card-title {
  margin-bottom: 4px;
  font-size: 28px;
}

.card-text {
  margin-bottom: 32px
}

.card-tag {
  font-size: 16px;
  margin-bottom: 0;
}

.memo-map-bg {
  background: var(--memo-map-color);
}

/* 
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 6s linear normal infinite;
  animation-iteration-count: 1;

}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
} */